Source: kpeoplevcard
Section: kde
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules (>= 1.3.0~),
               libkf5contacts-dev,
               libkf5coreaddons-dev,
               libkf5people-dev (>= 5.12.0+git20150715),
               pkg-config,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev
Standards-Version: 3.9.6

Package: kpeople-vcard
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: kpeople plugin for vcard
 This plugin lets kpeople read the vcard format.

Package: kpeople-vcard-dbg
Priority: extra
Section: debug
Architecture: any
Depends: kpeople-vcard (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: kpeople plugin for vcard - debug symbols
 This plugin lets kpeople read the vcard format.
